<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <style>
        div{
            border: 1px solid red;
        }
    </style>
</head>
<body ng-init="show=true">
<div ng-controller="watchCtrl" ng-show="show">
    <input type="text" ng-model="age"/>
    {{age}}
    <button ng-click="hide()">隐藏</button>
</div>
</body>
<script src="../../js/angular.js"></script>
<script>
    angular.module('myApp',[]);
    angular.module('myApp').controller('watchCtrl',function($scope){
        $scope.$watch('age',function(newVal,oldVal){
            console.log(newVal,oldVal);
        });
        $scope.hide = function(){
            $scope.show = false;
        };
        $scope.$on('$destroy',function(){
            console.log('destroy')
        })

    });

</script>
</html>