
<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css"/>
    <style>

    </style>
</head>
<body class="container" ng-controller="myCtrl">
<div class="row">
    <form action="" name="userform" novalidate="novalidate">
        <div class="form-group" ng-class="{'has-error':userform.password.$invalid && userform.password.$dirty}">
            <label class="control-label">密码:</label>
            <input type="text" name="password" class="form-control" ng-model="user.password">
        </div>
        <div class="form-group" ng-class="{'has-error':userform.repassword.$invalid && userform.repassword.$dirty}">
            <label class="control-label">重复密码:</label>
            <input check-password="user.password" type="text" name="repassword" class="form-control" ng-model="user.repassword">
        </div>
        <div class="form-group">
            <label for="money">存款</label>
            <input money type="text" name="money" class="form-control" ng-model="user.money">
        </div>
    </form>
    <pre>
        {{userform | json}}
    </pre>
</div>

</body>
<script src="../../js/angular.js"></script>
<script>
    angular.module('myApp',[]);
    angular.module('myApp').controller('myCtrl',function($scope){
        $scope.user = {}
    });
    angular.module('myApp').directive('checkPassword',function () {
        return{
            restrict:'A',
            require:'ngModel',
            link:function (scope, element, attrs,ngModel) {
                //$validators里定义的每个属性代表一个验证器
                //modelValue是scope上的属性值(模型值) viewValue是视图值(视图值)
                ngModel.$validators.validSame = function (modelValue, viewValue) {
                    var val = modelValue || viewValue;
                    return val == scope.$eval(attrs['checkPassword']);
//                    console.log(modelValue,viewValue)
//                    console.log(scope.user)
//                    return val == scope.user.password
                }
            }
        }
    })
    angular.module('myApp').directive('money',function () {
        return{
            restrict:'A',
            require:'ngModel',
            link:function (scope, element, attrs, ngModel) {
                //视图到模型
                ngModel.$parsers.push(function (viewValue) {
                    return viewValue.slice(1)
                });
                //模型到视图
                ngModel.$formatters.push(function (modelValue) {
                    return '$'+(modelValue || '')
                })
            }
        }
    })
</script>
</html>